body{
    background-color: black;
}
img{
    left: 33%;
    top:500px;
    width: 400px;
}
#nani{
    position: absolute;
    display: none;
    top:50px;
    left:20px;
    width:400px;
}
.buttons{
    display: inline-block;
    position:absolute;
    top:5%;
    left:35%;
    margin: 0 50px 0 0;
}
p{
    position: absolute;
    display: none;
    top:430px;
    color: white;
    font-family: 'Lexend Deca',sans-serif;
    font-size: 20px;
}
span{
    color: yellow;
    font-size: 22px;
}